<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thumeleaf/layout"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="layout/base">
<head th:replace="layout/layout :: head">

</head>
<body>

<nav th:replace="layout/layout :: nav"></nav>

<div class="row m-4">
    <div th:if="${param.correcto}">
        <div class="alert alert-success" role="alert">
            Se registro correctamente
        </div>
    </div>
    <div class="col-md-12">
        <a th:href="@{/listarproducto}" class="btn btn-secondary mb-2">Regresar</a>
        <h1>Lista de productos</h1>
        <div class="table-responsive">
            <table class="table align-middle table-bordered">
                <thead class="table-dark">
                <th>ID</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Estado</th>
                <th>Acciones</th>
                </thead>
                <tbody>
                <tr th:each="producto : ${productos}" th:if="${producto.estado != true}">
                    <td th:text="${producto.codigo}"></td>
                    <td th:text="${producto.nombre}"></td>
                    <td th:text="${producto.marca}"></td>
                    <td th:text="${producto.precio}"></td>
                    <td th:text="${producto.categoria.nombre}"></td>
                    <td th:text="${producto.estado}? 'Habilitado':'Deshabilitado'"></td>
                    <td class="d-flex flex-grap justify-content-between">
                        <a class="btn btn-info text-white" th:href="@{/habilitarproducto/{id}(id=${producto.codigo})}">Habilitar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>