<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thumeleaf/layout"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="layout/base">
<head th:replace="layout/layout :: head">

</head>
<body>

  <nav th:replace="layout/layout :: nav"></nav>

  <div class="row m-4">
    <div th:if="${param.correcto}">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        Se registro correctamente
        <button type="button" class="btn-close btn-clean-cliente"  data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    </div>
    <div th:if="${param.actualizo}">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        Se actualizó correctamente
        <button type="button" class="btn-close btn-clean-cliente"  data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    <div th:if="${param.elimino}">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        Se eliminó correctamente
        <button type="button" class="btn-close btn-clean-cliente" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    <div th:if="${param.habilito}">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        Se habilitó correctamente
        <button type="button" class="btn-close btn-clean-cliente" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>

    <div class="col-md-6 d-flex">
      <div class="">
        <a th:href="@{/registrocliente}" class="btn btn-primary mb-2 ml-2">Agregar</a>
      </div>
      <div class="mx-3">
        <a th:href="@{/habilitarcliente}" class="btn btn-info mb-2 text-white">Habilitar</a>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <form class="mx-3" th:action="@{/listarcliente}">
        <div class="input-group">
          <div class="form-outline">
            <input class="form-control" type="search" id="palabraclave" name="palabraclave" placeholder="Search" th:value="${palabraclave}">
          </div>
          <button type="submit" value="Buscar" class="btn btn-dark">
            <i class="fas fa-search"></i>
          </button>
        </div>

      </form>
      <div>
        <button type="button" value="Limpiar" class="btn btn-secondary btn-clean-cliente">Limpiar</button>
      </div>
    </div>

    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table align-middle table-bordered">
          <tr>
            <td colspan="7" class="text-center h2">LISTA DE CLIENTES</td>
          </tr>
          <tr class="table-dark">
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Celular</th>
          <th>Sexo</th>
          <th>Dirección</th>
          <th>Distrito</th>
          <th>Estado</th>
          <th>Acciones</th>
          </tr>
          <tbody>
          <tr th:each="cliente : ${clientes}" th:if="${cliente.estado != false}">
            <td th:text="${cliente.codigo}"></td>
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.apellido}"></td>
            <td th:text="${cliente.celular}"></td>
            <td th:text="${cliente.sexo}"></td>
            <td th:text="${cliente.direccion}"></td>
            <td th:text="${cliente.distrito.nombre}"></td>
            <td th:text="${cliente.estado}? 'Habilitado':'Deshabilitado'"></td>
            <td class="d-flex flex-grap justify-content-between">
              <a class="btn btn-success" th:href="@{/actualizarcliente/{id}(id=${cliente.codigo})}">Actualizar</a>
              <a th:href="@{/eliminarcliente/{id}(id=${cliente.codigo})}" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <footer th:replace="layout/layout :: footer"></footer>
  <script src="../static/js/cliente.js" th:src="@{/js/cliente.js}"></script>
</body>
</html>